<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <!-- <router-outlet></router-outlet> -->


  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <img class="android-logo-image" src="assets/images/android-logo.png">
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="android-header-spacer mdl-layout-spacer"></div>
          <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search-field">
            </div>
          </div>
          <!-- Navigation -->
          <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
             
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Home</a>
               <a class="mdl-navigation__link mdl-typography--text-uppercase " href="" routerLink="/Movienews">Movies</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="" routerLink="/News">News</a>
             
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="http://www.adbcd.com/about/">About</a>              
              <a class="mdl-navigation__link mdl-typography--text-uppercase"  href="http://www.adbcd.com/contact-us/">Contact us</a>

              <a class="mdl-navigation__link mdl-typography--text-uppercase" routerLink="/Signin" routerLinkActive="active" *ngIf='!this.sharedService.sharedvalue.signin' href="">Login</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" (click)="logout()" href="" *ngIf='this.sharedService.sharedvalue.signin'>Logout</a>

              <!--<div class='ad_bc_d' [ngStyle]="{'background': 'url(' + imgUrl + ') center/cover'}" *ngIf='this.sharedService.sharedvalue.signin'>
              
               
              </div>-->
              
            </nav>
          </div>
          <span class="android-mobile-title mdl-layout-title">
          <img class="android-logo-image" src="assets/images/android-logo.png">
          </span>          
        </div>
      </div>

      <div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
         <img class="android-logo-image" src="assets/images/android-logo.png">
        </span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link"  id='adbcd-menu-movie-lower-left' routerLink="/Movienews">Movies</a>
          <a class="mdl-navigation__link" id="adbcd-menu-news-lower-left" routerLink="/News">News</a>
          <a class="mdl-navigation__link" href="http://www.adbcd.com/about/" >About</a>  
          <a class="mdl-navigation__link" href="http://www.adbcd.com/contact-us/"  href="">Contact us</a>
          <div class="android-drawer-separator"></div>
          <a class="mdl-navigation__link" href="" routerLink="/Signin"  *ngIf='!this.sharedService.sharedvalue.signin' routerLinkActive="active">LogIn</a>
           <a class="mdl-navigation__link" href=""  (click)="logout()" *ngIf='this.sharedService.sharedvalue.signin'>Logout</a>
           <div class="android-drawer-separator"></div>
          <a class="mdl-navigation__link" href="">Offers</a>    
           
           <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="adbcd-menu-news-lower-left">
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
           <i class="material-icons">details</i>
            <a href='#' routerLink="/general" routerLinkActive="active">General</a>
            </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
            <i class="material-icons">wallpaper</i>
            <a href='#' routerLink="/Entertainment" routerLinkActive="active">Entertainment</a>
            </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
           <i class="material-icons">directions_bike</i>
            <a href='#' routerLink="/Sports" routerLinkActive="active">Sports</a>
            </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
            <i class="material-icons">device_hub</i>
            <a href='#' routerLink="/Business" routerLinkActive="active">Business</a>
            </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
           <i class="material-icons">wb_incandescent</i>
            <a href='#' routerLink="/Science" routerLinkActive="active">Science</a>
            </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
           <i class="material-icons">memory</i>
            <a href='#' routerLink="/Technology" routerLinkActive="active">Technology</a>
            </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
           <i class="material-icons">music_video</i>
            <a href='#' routerLink="/Music" routerLinkActive="active">Music</a>
            </span>
            </li>
        </ul>

<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="adbcd-menu-movie-lower-left">
         <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <i class="material-icons">perm_media</i>
            <a href='#' routerLink="/Movienews" routerLinkActive="active">Movie News</a>
            </span>
         </li>
        
         <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <i class="material-icons">movie_filter</i>
            <a href='#' routerLink="/Reviews" routerLinkActive="active">Reviews</a>
            </span>
         </li>
         <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <i class="material-icons">flash_on</i>
            <a href='#' routerLink="/Trailers" routerLinkActive="active">Trailers</a>
            </span>
         </li>
         <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <i class="material-icons">library_music</i>
            <a href='#' routerLink="/Musicvideos" routerLinkActive="active">Music Videos</a>
            </span>
         </li>
         
         <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <i class="material-icons">donut_large</i>
            <a href='#' routerLink="/Toprated" routerLinkActive="active">Top Rated </a>
            </span>
         </li>

         <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <i class="material-icons">theaters</i>
            <a href='#' routerLink="/Popular" routerLinkActive="active">Popular</a>
            </span>
         </li>
         
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <i class="material-icons">receipt</i>
            <a href='#' routerLink="/Gallery" routerLinkActive="active">Gallery</a>
            </span>
         </li>

      </ul>





        </nav>
      </div>


   <main class="android-content mdl-layout__content mdl-color--grey-100 ">
     <a name="top"></a>
   
 <router-outlet></router-outlet> 
  

</main>

</div>


</div>



