/* You can add global styles to this file, and also import other style files */
body
{
    font-size:14px!important;
}

.mdl-card__menu {
    position: absolute;
    left: 16px!important;
    top: 16px;
}

@media(max-width: 768px)
{
	.menu
	{
		display: none;
	}
	.mdl-list__item
	{
		font-size:14px;
	}
}

.mdl-menu__outline,.mdl-menu
{
	min-width: 200px!important;

}

.social-figure
{
    cursor: pointer;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0!important;
      
}
a:hover
{
	text-decoration: none;
}


.mdl-list__item
{
    font-size:12px!important;
    padding:10px!important;
}

.android-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 12px!important;
}

.mdl-card__supporting-text h1 {
    font-size: 16px!important;
    color: #000;
    font-weight: bold!important;
}

.adbcd-card-square > .mdl-card__title {
    color: #fff;
    height: auto;
    min-height: 208px!important;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 16px!important;
}

.mdl-card__actions {
    font-size: 11px!important;
    line-height: normal;
}


.mdl-card__supporting-text
{
    margin-top:-10px;
}